@import "npm:@picocss/pico/css/pico.min.css";

:root {
  --border-radius: 0.1rem;
  --font-size: 16px;
}

main {
  text-align: center;
}

canvas {
  box-shadow: var(--card-box-shadow);
}

footer {
  color: var(--muted-color);
  font-size: small;
  text-align: center;
}

footer a {
  color: var(--muted-color);
}
